@import "tailwindcss";

@theme {
  --color-dark1: #17202A;
  --color-dark2: #1C2733;
  --color-dark3: #283340;
  --color-dark4: #3A444C;
  --color-dark5: #8899A6;
  --color-dark6: #8899A6;
  --color-primary-blue: #1DA1F2;
}

body{
  background-color: #17202A;
}

h1 {
  font-family: var(--font-roboto-mono);
}